---
import Layout from "../layouts/Layout.astro";
import '../css/generel.css';
import matchaIllustration from "../assets/Matcha.png"
import salon from "../assets/IMG_4586_result.webp"
import outside from "../assets/IMG_4543_result.webp"
import door from "../assets/IMG_4577_result.webp"


const url= "https://mzgerdkdpiuiptojhrqo.supabase.co/rest/v1/freds_menu?select=*"
  const key= "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im16Z2VyZGtkcGl1aXB0b2pocnFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDY2OTkxMzksImV4cCI6MjA2MjI3NTEzOX0.gxYokqCVuVtoyOdGDo02azparnJlGTlrPeACQ6p3300"
   const options = {
            headers: {
                apikey: key,
            },
        };

const data = await fetch(url, options).then((res) => res.json())

console.log(data)

---
<Layout>
  <h1>MENU</h1>
  <section>
  <div class="drink_container">
    <div class="menu_drink_box">
    <img src="/logo.svg" alt="Logo">
  <h1>To Drink</h1>
 
  {data.map ((menu) => {
    if (menu.menu_category == "Drink") {
      return (
        <article class="menu_item">
            <p>{menu.slug} - {menu.price}</p>
        </article>
    );
  } 
})}

  {data.map ((menu) => {
    if (menu.menu_category == "Drink_2") {
      return (
        <article class="menu_item">
            <p>{menu.slug} - {menu.price}</p>
        </article>
    );
  }
})}
</div>

    <div class="menu_new_box">
    <h2>New</h2>
    <p>Try our "Foam Of The Season" for your matcha or latte</p>
    <p>3,-</p>
  {data.map ((menu) => {
  if (menu.new) {
    return (
        <div class="menu_item">
            <p>{menu.slug}</p>
        </div>
    );
  }
  })}
  <p class="footer_note">Ask the baristas about any allergies</p>
  </div>
</div>

  <div class="menu_food_box">
  <img src="/logo.svg" alt="Logo">
 <h1>To Eat</h1>
 
  {data.map ((menu) => {
  if (menu.menu_category == "Food") {
    return (
        <article class="menu_item">
            <p>{menu.slug} - {menu.price}</p>
        </article>
    );
  }
  })}
  <p class="footer_note">Ask the baristas about any allergies</p>
</div>
</section>



<div class="frametext_1">
<h2>BEHIND THE SCENES</h2>
<p>At Fred's, our menu is carefully curated based on what we enjoy the most when visiting a coffee bar.</p>
<p>We believe that good coffee is all about personality, so we've added our own creative twists to classic drinks</p> <p>- from signature matchas to flavorful lattes.</p>

<p>Whether you're in the mood for something sweet like a fresh pastry, or something savory to keep you going,</p> <p>we've got a little bit of everything.</p>
<p>It's all made with love - and with a focus on flavor, quality, and a cozy vibe you won't find anywhere else.</p>
</div>


<div class="collab_emely">
  <div class="flex">
<div>
<img src={matchaIllustration.src} alt="Matcha_illustration" class="matcha_img" />
</div>
    
<div class="frametext_2">
<h3>Available on June 1st!</h3>
<p>In collaboration with Emely Moreno, we've created a Pistachio Matcha - a fun and fresh new way to enjoy your matcha.</p>
<p>This unique blend brings together the earthy depth of matcha with the smooth, nutty flavor of pistachio - a combination we're pretty excited about!</p>
</div>
</div>
</div>

<div class="frametext_3">
<h2>ABOUT OUR MENU</h2>
<p>As a newly opened coffee bar, we handle all daily shopping ourselves.</p>
<p>Every morning, we head to Inco to buy what we need for the day.</p> 
<p>We aim to choose organic products whenever possible, and our chicken is halal.</p>
<p>At Fred's, it's important to us that everyone feels welcome!</p>
</div>
<div class="menu_3_img-container">
<img src={salon.src} alt="Salon" class="menu_3_img" />
<img src={outside.src} alt="Outside" class="menu_3_img" />
<img src={door.src} alt="Door" class="menu_3_img"/>
</div>

</Layout>
<style>
/* til mobilversion */
img {
  max-width: 100%;
}

h3, h2{
  margin-bottom: 15px;
}

p {
  line-height: 1.5;
}

section{
  margin: 3rem 1rem 0 1rem; /* top, right, bottom, left */
}

.drink_container, 
.menu_food_box{
display: grid;
grid-column: span 1;
grid-row: 1/-1; 
margin-bottom: 2rem;
}

.menu_drink_box{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu_drink_box img,
.menu_drink_box h1 {
  grid-column: 1 / -1; 
  justify-self: center; 
}

.menu_drink_box,
.menu_food_box{
  background-color: var(--lyserød);
  color: var(--sort);
  font-family: "Sometype Mono";
  width: 400px;
  padding-left: 10px;
  padding-right: 10px;
}

.menu_item p{
  font-family: "Sometype Mono";
  text-align: left;
  font-size: 14px;
  margin-left: 2rem;
}  


.menu_drink_box h1, 
.menu_food_box h1{
  font-family: "Sometype Mono";
  margin-bottom: 1rem;
  text-align: center;
}

.menu_drink_box h1{
  margin-top: 1rem;
}
.menu_food_box{
  min-height: 800px;
  width: 400px;
}

.menu_drink_box p{
  line-height: 2;
}

.menu_food_box p{
padding-left: 2rem;
margin-left: 2rem;
margin-right: 2rem;
}

.menu_drink_box img, 
.menu_food_box img{
  max-width: 300px;
   margin: 0 auto; 
  margin-top: 2rem; 
}
.menu_new_box {
  background-color: var(--lyserød);
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem; 
  align-items: center;
}

.menu_new_box h2{
  font-family: "Sometype Mono";
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.menu_new_box p{
  font-family: "Sometype Mono";
  text-align: center;
  font-size: 14px;
  padding: 10px;
}
.footer_note{
  margin-top: 2rem;
  font-family: "Sometype Mono";
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 14px;
}

h1{
  text-align: center;
 }

.frametext_1 h2, .frametext_3 h2{
  text-align: center;
}

.frametext_1, .frametext_3{
  border: 5px solid var(--lyserød);
  padding: 10px;
  border-radius: 40px;
  margin: 4rem 60px 4rem 60px; /* top, right, bottom, left */
}

.frametext_2{
border: 5px solid var(--lyserød);
 padding: 20px;
border-radius: 40px;
    max-width: 380px;
    height: 300px;
}

.collab_emely{
  background-color: var(--beige) ;  
  padding: 20px 0;
 }

.flex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.collab_emely h3{
 color: var(--lyserød);
 text-align: center;
}

.matcha_img {
  max-width: 450px;
  margin: 0 auto;
}

.menu_3_img {
  border-radius: 80px;

  width: 80%;             
  max-width: 300px;       

  width: 80%;             
  max-width: 300px;       

  aspect-ratio: 1.5 / 2; 
  object-fit: cover;      
  display: block;         

  margin: 1rem auto;      
  margin-bottom: 40px;    
}


@media screen and (min-width: 1270px){

  .drink_container, .menu_food_box{
  margin: 1rem auto;     
  margin-bottom: 40px;    
}
}


@media screen and (min-width: 600px){
section{
  display: grid;
   grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr; 
  margin-left: 4rem;
  }

  .drink_container{
  grid-column: 1/2;
  grid-row: 1/-1; 
  }
   
  .menu_food_box{
  grid-column: 2/3;
  grid-row: 1/-1;
} 

.menu_food_box h1{
  margin-top: -3rem
}
.menu_food_box p{
  padding: 0;
  margin-left: 2rem;
}
  .menu_drink_box,
  .menu_food_box{
    width: 600px;
  } 

  .menu_new_box{
    width: 600px;
  }

  .menu_item{
    text-align: left;
  }
  
  .menu_3_img-container{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem; 
  }

}

@media screen and (min-width: 900px) {
  section{
    display: grid;
    grid-template-rows: 1fr; 
    margin-left: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr 1fr));
    gap: 2rem;
  } 
}
/* til computerversion */
@media screen and (min-width: 768px) {
    .collab_emely {
    display: flex;         
    justify-content: space-between; 
    align-items: center;  
    padding: 50px
}  

  .frametext_1{
max-width: 1050px;
height: 320px;
margin-left: auto;
margin-right: auto;
  }

  .frametext_2{
    max-width: 380px;
    height: 420px;
  }

  .frametext_3{
    max-width: 1050px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.matcha_img {
  max-width: 460px;
  height: 420px;
}


.menu_3_img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto; 
}    

.menu_3_img{
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 1.5rem; 
}
  }

</style>